<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: 'Gothic A1', sans-serif;
        }
        body {
            width: 700px;
            height: 1000px;
            margin: 50px auto;
            overflow: auto;
        }
        header{
            display: flex;
            justify-content: center;
        }
        header > img{
            margin-top : 20px;
        }
        main{
            margin-top : 20px;

        }
        .formbox{
            display : flex;
            align-items: center;
            justify-content: center;
            height: 100%; /* 높이를 화면 높이와 동일하게 설정 */

        }
        .formbox > form > div > div{
            margin-bottom : 10px;
        }
        .formbox > form > div > div > input{
            height : 25px;
            width : 200px;

        }
        .formbox > form > div > div > h5{
            margin-bottom : 5px;
        }
        .jechul > button{
            margin-top : 30px;
            height : 50px;
            width : 340px;
            color : #cfd7e0;
            background-color: #4a596d;
            border-style: none;
            border-radius: 7px;
            font-size: 15px;
            cursor: pointer;
        }
        .search_addr_btn{
            color : #cfd7e0;
            background-color: #4a596d;
            border-style: none;
            border-radius: 4px;
            cursor: pointer;
            width:120px;
            margin-left:5px;
            height : 30px;
            font-size: 11px;
        }
        .jung-btn{
            color : #cfd7e0;
            background-color: #4a596d;
            border-style: none;
            border-radius: 4px;
            cursor: pointer;
            width:120px;
            margin-left:5px;
            height : 30px;
            font-size: 11px;
        }
    </style>
</head>
<body>
<header>

    <a href="/login"><img src="/images/logo.png" class="logoimg" max-width="100%" height="50"/></a>
</header>
<main>
    <div class="formbox">
        <form name="joinform" action="/join" method="post" onsubmit="return false">
            <div>
                <div >
                    <h5 for="emailInput">이메일</h5>
                    <input name="email" id="emailInput">
                    <button class="jung-btn" onclick="checkDuplicate('emailInput')">중복체크</button><br/>
                </div>
                <div>
                    <h5 for="passwordInput">비밀번호</h5>
                    <input name="password" type="password" id="passwordInput" placeholder="소문자,특수문자,숫자를 포함"><br/>
                </div>
                <div>
                    <h5 for="passwordConfirmInput">비밀번호확인</h5>
                    <input name="passwordConfirm" type="password" id="passwordConfirmInput" placeholder="8~16자리를 입력하세요."><br/>
                </div>

                <div>
                    <h5 for="nicknameInput">사용할 닉네임</h5>
                    <input name="nickname" id="nicknameInput">
                    <button class="jung-btn" onclick="checkNicknameDuplicate('nicknameInput')">중복체크</button><br/>
                </div>

                <div>
                    <h5 for="nameInput">성명</h5>
                    <input name="name" id="nameInput"><br/>
                </div>

                <div>
                    <h5 for="birthInput">생년월일</h5>
                    <input name="birth" id="birthInput" autocomplete="off"><br/>
                </div>

                <div>
                    <h5 for="phoneInput">휴대폰</h5>
                    <input name="phone" id="phoneInput" maxlength="13">
                    <button class="jung-btn" onclick="checkPhoneDuplicate('phoneInput')">중복체크</button><br/>
                </div>

                <div>
                    <h5>주소</h5>
                    <input name="zipcode" class="form-control zipcode"  placeholder="우편번호" >
                    <button class="btn btn-secondary search_addr_btn" style="">우편번호 검색</button><br/>


                    <input name="addr1" class="form-control addr1"  placeholder="기본주소" style="width : 330px; margin-top : 5px;"><br/>
                    <input name="addr2" class="form-control" placeholder="상세주소 입력" style="width : 330px; margin-top : 5px;">
                </div>
                <div>
                    <h5 for="questionInput">질문 선택</h5>
                    <select name="question" id="questionInput">
                        <option value="질문1">당신의 어린시절 별명은?</option>
                        <option value="질문2">당신이 제일 존경하는 사람은?</option>
                        <option value="질문3">당신의 보물 제1호는?</option>
                        <option value="질문4">당신의 인생 좌우명은?</option>
                        <option value="질문5">당신의 MBTI는?</option>
                        <option value="질문6">당신이 제일 좋아하는 게임은?</option>
                    </select><br/>
                </div>
                <div>
                    <h5 for="answerInput">질문에 대한 답변</h5>
                    <input name="answer" id="answerInput" type="text"><br/>
                </div>
            </div>
            <div class="jechul">
                <button onclick="isValid()" class="joinbtn">회원가입</button>
            </div>

        </form>
    </div>
</main>

<script>
<!-- 이메일중복체크  -->
    let isEmailChecked = false;
    let isNicknameChecked = false;
    let isPhoneChecked = false;

    function checkDuplicate(emailInput) {
        const inputValue = $("#" + emailInput).val();
        $.ajax({
            url: "/checkDuplicate",
            type: "POST",
            data: {value: inputValue, field: emailInput},
            success: function (response) {
                if (response.duplicate) {
                      alert("이미 존재하는 이메일입니다.");
                      isEmailChecked = false;
                } else {
                    alert("사용 가능한 이메일입니다.");
                    isEmailChecked = true;
                }
            },
            error: function (xhr, status, error) {
                console.error("오류 발생 : ", error);
                isEmailChecked = false;
            }
        });
    }

<!--닉네임 중복체크-->
    function checkNicknameDuplicate(nicknameInput) {
        const inputValue = $("#" + nicknameInput).val();
        $.ajax({
            url: "/checkNicknameDuplicate",
            type: "POST",
            data: {value: inputValue, field: nicknameInput},
            success: function (response) {
                if (response.duplicate) {
                      alert("이미 존재하는 닉네임입니다.");
                      isNicknameChecked = false;
                } else {
                    alert("사용 가능한 닉네임입니다.");
                    isNicknameChecked = true;
                }
            },
            error: function (xhr, status, error) {
                console.error("오류 발생 : ", error);
                isNicknameChecked = false;
            }
        });
    }

<!--휴대폰 숫자제외 입력 제한-->
    const phoneInput = document.getElementById("phoneInput");

    phoneInput.addEventListener("input", function(){
        const inputValue = phoneInput.value.replace(/\D/g, "");
<!--   길이와 하이픈 생성-->
        phoneInput.value = inputValue;

 if (inputValue.length >= 7) {
        phoneInput.value =
            inputValue.slice(0, 3) +
            "-" +
            inputValue.slice(3, 7) +
            "-" +
            inputValue.slice(7);
    }
});
<!--비밀번호 형식체크-->
function isValidPassword(password){
    const passwordPattern = /^(?=.*[a-z])(?=.*[!@#$%^&*])(?=.*\d).{8,16}$/;
    return passwordPattern.test(password);
    }
    const passwordInput = document.getElementById("passwordInput");



</script>
<script>
<!--휴대폰번호 중복-->
    function checkPhoneDuplicate(phoneInput){
    const inputValue = $("#" + phoneInput).val();
    $.ajax({
        url: "/checkPhoneDuplicate",
        type: "POST",
        data: { value: inputValue, field: phoneInput},
        success: function (response) {
            if (response.duplicate){
                alert("이미 가입에 사용된 번호입니다.");
                isPhoneChecked = false;
            } else {
                alert("가입에 사용 가능한 번호입니다.");
                isPhoneChecked = true;
            }
    },
    error: function (xhr, status, error){
        console.error("오류 발생 : ",error);
        isPhoneChecked = false;
    }
    });
    }

</script>
<script>
    <!--    생년월일 입력 필드에 Datepicker를 적용합니다.-->
        $(function() {
            $("#birthInput").datepicker({
                dateFormat: "yy-mm-dd", // 날짜 형식 설정 (연도-월-일)
                changeMonth: true,      // 월 선택 가능
                changeYear: true,       // 연도 선택 가능
                yearRange: "c-100:c+10", // 년도 선택 범위 설정
                beforeShow: function(input, inst){
                $(input).prop('readOnly', true);
                }
            });
        });
<!--회원가입 버튼누를시 빈칸이나 중복체크를 안했을때-->
        const isValid = () => {
            const form = document.joinform;
            const password = passwordInput.value;
            const passwordConfirm = form.passwordConfirm.value.trim();
            const phoneInput = form.phoneInput.value.trim();
            const email = emailInput.value;
            const secret = isValidPassword(password);



            if (form.email.value.trim() ==  "")
            {
                alert("이메일을 입력하세요.");
                return;
            }
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (!emailPattern.test(email)){
                alert("올바른 이메일 주소 형식이 아닙니다.");
                return;
            }
            if (!isEmailChecked){
                alert("이메일 중복 체크를 해주세요.");
                return;
            }
            if (password == "")
            {
                alert("비밀번호를 입력하세요.");
                return;
            }
            if (!secret) {
                alert("비밀번호 양식에 맞춰서 입력하세요.");
                return;
            }
            if (passwordConfirm == "")
            {
                alert("비밀번호를 다시입력하세요.");
                return;
            }
            if (password != passwordConfirm)
            {
                alert("비밀번호가 일치하지 않습니다.");
                return;
            }
            if (form.nickname.value.trim() == "")
            {
                alert("닉네임을 입력하세요.");
                return;
            }
            if (!isNicknameChecked) {
                alert("닉네임 중복 체크를 해주세요.");
                return;
            }
             if (form.name.value.trim() == "")
            {
                alert("이름을 입력하세요.");
                return;
            }
            if (form.birth.value.trim() == "")
            {
                alert("생년월일을 입력하세요.");
                return;
            }
            if (form.phone.value.trim() == "")
            {
                alert("휴대폰번호를 입력하세요.");
                return;
            }
            const pattern = /^010-\d{4}-\d{4}$/;
            if (!pattern.test(phoneInput)){
                alert("올바른 휴대폰 번호를 입력하세요.");
                return;
            }
            if (form.zipcode.value.trim() == "")
            {
                alert("우편번호를 입력하세요.");
                return;
            }
            if (form.addr2.value.trim() == "")
            {
                alert("상세주소를 입력하세요.");
                return;
            }
            if (form.answer.value.trim() == "")
            {
                alert("질문의 답을 입력하세요.");
                return;
            }
            alert("하모하모에 가입을 환영합니다! 🤸‍♂️");

            window.location.href = "/login";

       form.submit();
        }
</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    const search_addr_btn = document.querySelector('.search_addr_btn');
    search_addr_btn.addEventListener('click',function(){
       new daum.Postcode({
                oncomplete: function(data) {
                    console.log(data);
                    const zipcode = document.querySelector('.zipcode');
                    const addr1 = document.querySelector('.addr1');

                    if(data.userSelectedType==='R')
                    {
                        addr1.value = data.roadAddress;
                    }
                    else
                    {
                        addr1.value = data.jibunAddress;
                    }
                    zipcode.value=data.zonecode;

                }
            }).open();

    });
</script>

</body>
</html>