<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">


</script>
<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-2">비밀번호 찾기</h1>
        <p class="mb-4">아이디와 이메일을 입력해주세요!</p>
    </div>
    <form class="user" action="/member/findPw" method="post">
        <div class="form-group">
            <input type="text" class="form-control form-control-user"
                   id="memberId" aria-describedby="IdHelp" name="memberId"
                   placeholder="Enter ID....">
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user"
                   id="memberEmail" aria-describedby="emailHelp" name="memberEmail"
                   placeholder="Enter Email Address...">
        </div>

        <button type="submit" class="btn btn-primary btn-user btn-block">
            Find PW
        </button>
    </form>
    <hr>
    <a href="/login" class="btn btn-google btn-user btn-block">
        Login
    </a>
    <hr>
    <div class="text-center">
        <a class="small" href="/list">메인페이지</a>
    </div>

</body>
</html>